.song_grid {
  display: grid;
  grid-template-columns: minmax(150px, 250px) minmax(150px, 300px);
  grid-template-rows: max-content;

  .span_2 {
    grid-row: span 2;
  }

  .span_3 {
    grid-row: span 3;
  }

  .artist {
    text-decoration: underline;
    color: #005f73;
  }

  .bottom {
    padding-bottom: 6px;
    margin-bottom: 6px;
  }
}

.spotify_link {
  text-decoration: none;
}

.spotify_link:hover {
  text-decoration: underline;
}

h3.spotify_link_header {
  font-size: 24px;
}

