---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wedding-website {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;

  .content {
    margin: 1.5rem;
  }

  @media (min-width: 700px) {
    .content {
      max-width: 700px;
    }
  }
}

.header, .footer {
  background-color: #F7F0DE;
  color: #005F73;
  padding: 2rem;
}

a:link,
a:visited {
  color: #003946;
}


h1 a:link,
h1 a:visited {
  color: #005F73;
}

.header {
  h1, h2 {
    font-family: 'Aboreto', cursive;
    text-align: center;
    margin: 0;
  }
}

.footer {
  display: flex;
  justify-content: center;

  .footer-content {
    min-width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Silkscreen', cursive;

    a {
      margin-right: 2rem;
    }
  }
}

.color-bar {
  height: 3px;
  background-color: #005F73;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #CBA540; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.class_01 {
  font-family: 'Georgia';
  color: #001219;
  font-size: 20px;
}

.page {
  p {
    max-width: 700px;
    line-height: 1.6;
  }

  h2 {
    color: #CBA540;
    font-family: 'Aboreto', cursive;
    font-size: 32px;
  }

  h3 {
    color: #005F73;
    font-size: 20px;
  }

  h4 {
    color: #0A9396;
    display: inline;
  }
}

@import 'index';
@import 'strong_female_playlist';

