---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wedding-website {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;

  .content {
    min-width: 65%;
    margin: 0 1.5rem;
  }

  @media (min-width: 700px) {
    .content {
      max-width: 900px;
    }
  }
}

.header {
  h1, h2 {
    font-family: 'Aboreto', cursive;
    text-align: center;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;

  .footer-content {
    min-width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Silkscreen', cursive;

    a {
      margin-right: 2rem;
    }
  }
}
